[Unit]
Description=Ryzen Performance Tuning
After=power-profiles-daemon.service
Wants=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/share/ryzen-performance/ryzen-performance-start.sh
# ExecStop=/usr/lib/ryzen-performance/ryzen-performance-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
